.home{
    position: relative;
    background: url("../Assets/src/modern-living-room-background.jpg") no-repeat center bottom/cover;
    height: 140vh;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    }